<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>See A Mess</title>
    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/tether/dist/css/tether.min.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/featurette.css" rel="stylesheet">
</head>
<body ng-app="cms" ng-controller="MenuController">
    <div class="loading" ng-if="isLoading">
        <img src="images/loading.gif" alt="Loading" width="100" height="100"/>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#{{menuItems[0].id}}"><span compile="app.title"></span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
					<li ng-repeat="item in menuItems" class="nav-item" ng-class="{ 'active': isActive(item.id), 'dropdown': item.subPages!=null }">
						<a ng-if="item.subPages!=null" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{item.title}} <span class="caret"></span></a>
						<ul ng-if="item.subPages!=null" class="dropdown-menu">
							<li ng-repeat="subPage in item.subPages"><a href="#{{subPage.id}}">{{subPage.title}}</a></li>
						</ul>
						<a ng-if="item.subPages==null" href="#{{item.id}}">{{item.title}}</a>
					</li>
                </ul>
                <form class="navbar-form navbar-right" ng-if="publish.show">
                    <button ng-if="publish.status == 'READY' || publish.status == 'PUBLISHING'" class="btn btn-primary" ng-click="publish.publishSite()" ng-class="{ 'disabled': publish.status == 'PUBLISHING' }"><span ng-if="publish.status == 'READY'">Publish</span><span ng-if="publish.status == 'PUBLISHING'">Publishing...</span></button>
                    <div ng-if="publish.status == 'PUBLISHED'" class="alert alert-success publish-success" role="alert">Website published successfully. <a target="_blank" href="{{publish.url}}">View live site here</a></div>
                    <div ng-if="publish.status == 'ERROR'" class="alert alert-danger publish-success" role="alert">Error publishing website. Please refresh and try again.</div>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div ng-view></div>
    <div class="footer">
        <div class="container">
            <span compile="app.footer"></span>
        </div>
    </div>
    <!-- tableTop library for googleSheets info -->
    <script src="lib/gDoc.js/tabletop.js"></script>

    <!--jquery and bootstrap-->
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/tether/dist/js/tether.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/gDoc.js/tabletop.js"></script>


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-underscore-module/angular-underscore-module.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="services/commonServices.js"></script>
    <script src="services/googleServices.js"></script>
    <script src="services/mongoDBServices.js"></script>
    <script src="services/defaultDefinitionServices.js"></script>
    <script src="filters/filters.js"></script>
    <script src="controllers/controllers.js"></script>
    <script src="directives/directives.js"></script>
    <script src="app.js"></script>
</body>
</html>