<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
	<uib-slide ng-repeat="article in article.subArticles track by $index" index="$index">
		<div ng-if="article.article != ''" class="carousel-caption">
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<h2 ng-bind-html="article.title"></h2>
					<p ng-if="article.limit == ''"><span compile="article.content"></span></p>
					<span ng-if="article.limit != ''">
						<p><span ng-bind-html="article.content | limitTo: article.limit"></span>...</p>
						<a class="btn btn-default" ng-href="#/article/{{article.id}}?type={{article.type}}" role="button">Read More »</a>
					</span>
				</div>
			</div>
		</div>
		<img ng-if="article.image !=''" ng-src="{{article.image}}">
		<div ng-if="article.article =='' && article.caption !=''" class="carousel-caption" ng-bind-html="article.caption"></div>
	</uib-slide>
</uib-carousel>