<!-- Main jumbotron for a primary marketing message or call to action -->
<div ng-controller="PageController">
    <span ng-repeat="article in articles | fullWidthComponent">
        <div style="{{article.css}}" ng-include src="getComponentPath(article.type)"></div>
    </span>
    <div class="container">
        <div class="row row-item">
            <div ng-class="{ 'col-md-4': article.size==1, 'col-md-8': article.size==2, 'col-md-12': article.size==3, 'col-md-12': article.size==''}" ng-repeat="article in articles | columnComponent">
                <div style="{{article.css}}" ng-include src="getComponentPath(article.type)"></div>
            </div>
        </div>
    </div>
</div>